@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;400&family=Source+Serif+Pro&display=swap');

* {
  margin: 0;
  padding: 0;
  color: #555555;
  text-decoration: none;
  box-sizing: border-box;
}

html, body, #root, .App {
  height: 100%;
}

.title {
  color: #1A1A1A;
}

.title--big {
  font-size: 25px;
  line-height: 32px;
  text-align: center;
}

.title--uppercase {
  font-family: 'Overpass', sans-serif;
  text-transform: uppercase;
}

.btn {
  padding: 12px 30px;
  font-family: 'Overpass', sans-serif;
  font-weight: 300;
  color: white;
  background: #1A1A1A;
  border: 0;
}
